* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem == 10px */
  overflow-x: hidden;
  font-family: "Comfortaa";
}

.container {
  max-width: 130rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid-2col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 9.6rem;
  column-gap: 4.8rem;
}

/* nav ******************  ******************  ****************** */

header {
  height: 6rem;
}

.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #fbf0ff;
  z-index: 100;
  justify-content: space-evenly;
  box-shadow: 0rem 0.5rem 1rem #3d393e27;
}

.main-nav-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 6rem;
}

.nav-donations{
  justify-self: start;
}

.nav-home{
  justify-self: center;
}

.nav-pls{
  justify-self: end;
}

.main-nav-link {
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.logo{
  height: 6rem;
}

/* main ******************  ******************  ****************** */

.hero {
  position: relative;
}

.hero-inner {
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  z-index: -99;
}

#Hero1,
#Hero2,
#Hero3,
#Hero4{
  transition: 0.5s all;
}

/* .hero-inner:has(#Hero1:hover) {
  grid-template-columns: 2fr 1fr 1fr 1fr;
} */

#Hero1:hover,
#Hero2:hover,
#Hero3:hover,
#Hero4:hover {
  width: 180%;
}

/* .hero .hero-inner:has(#Hero3:hover) {
  grid-template-columns: 1fr 1fr 2fr 1fr;
}

.hero-inner:has(#Hero4:hover) {
  grid-template-columns: 1fr 1fr 1fr 2fr;
} */

#Hero1 {
  background-image: linear-gradient(
      to right bottom,
      rgba(236, 166, 106, 0.17),
      rgba(215, 135, 65, 0.17)
    ),
    url("../img/Hero.jpg");
}

#Hero2 {
  background-image: linear-gradient(
      to right bottom,
      rgba(236, 166, 106, 0.17),
      rgba(215, 135, 65, 0.17)
    ),
    url("../img/Hero2.jpg");
}

#Hero3 {
  background-image: linear-gradient(
      to right bottom,
      rgba(236, 166, 106, 0.17),
      rgba(215, 135, 65, 0.17)
    ),
    url("../img/Hero3.jpg");
}

#Hero4 {
  background-image: linear-gradient(
      to right bottom,
      rgba(236, 166, 106, 0.17),
      rgba(215, 135, 65, 0.17)
    ),
    url("../img/Hero4.jpg");
}

.main-heading {
  position: absolute;
  white-space: nowrap;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9.6rem;
  color: #fff;
  pointer-events: none;
  text-shadow: 0rem 0rem 1rem rgb(68, 42, 19);
}

.hero-img {
  background-size: cover;
  background-position: center;
  border-left: 0.5rem rgba(0, 0, 0, 0.413) solid;

  height: 100vh;
  width: 100%;
}

.background {
  position: fixed;
  background-color: #fbf0ff;

  height: 100vh;
  width: 100%;
  z-index: -100;
}

/* main info ******************  ****************** */

.main-info {
  padding: 9.6rem 0;
  position: relative;
  background-color: #fff;
}

.main-info:before {
  content: " ";
  display: block;
  height: 45px;
  background-image: url("https://ecorelos.com/wp-content/uploads/2020/04/torn-border2.png");
  position: absolute;
  width: 100%;
  top: -4.5rem;
  left: 0;
}

.main-info:after {
  content: " ";
  display: block;
  width: 100%;
  height: 65px;
  background-image: url("https://ecorelos.com/wp-content/uploads/2020/04/torn-border2upside.png");
  position: absolute;
  bottom: -4.5rem;
  left: 0;
  z-index: 1;
}

.info-img{
  width: 100%;
  border-radius: 2rem;
}

.info-div{
  height: fit-content;
  align-self: center;
}

.info-header{
  font-size: 4.8rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.info-p{
  font-size: 2.4rem;
  line-height: 1.5;
}

/* footer ******************  ****************** */

.footer{
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid-footer{
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;

}

.logo-col{
  display: flex;
  flex-direction: column;
}

.footer-logo{
  display: block;
  margin-bottom: 2.4rem;
}

.social-links{
  list-style: none;
  display: flex;
  gap: 2rem;
}

.social-icon{
  height: 2.4rem;
  width: 2.4rem;
}

.legal{
  font-size: 1.4rem;
  line-height: 2.5;
  color: #767676;
}

.footer-heading{
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts{
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address{
  margin-bottom: 2.4rem;
}

.footer-nav{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited{
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active{
  color: #555;
}